body{
	background-image: url(stars.jpg);
	background-size: cover;
	}

h1, h2 {
color: #ff8f00;
}
p{
	color: white;
	font-family: sans-serif; 
}

div{
	color: white;
	font-weight: bold;
   	border: 2px solid white;
	}
#submit{
	cursor: pointer;
}

li{
	color: #ff8f00;
	font-weight: bold;
}
dd{
	color:green;
}

img{
	width: 100%;
    height: auto;
}
